L2RPCHost = "https://mainnet.optimism.io"
BitcoinRPCHost = "rpc.ankr.com/btc"
BitcoinRPCUser = "user" // optional
BitcoinRPCPass = "pass" // optional
BitcoinDisableTLS = true // optional
DBFilePath = "data.db"
FGContractAddress = "bbn1ghd753shjuwexxywmgs4xz7x2q732vcnkm6h2pyv9s6ah3hylvrqxxvh0f"
BBNChainID = "euphrates-0.4.0"
BBNRPCAddress = "https://rpc-euphrates.devnet.babylonchain.io"
GRPCListener = "0.0.0.0:50051"
HTTPListener = "0.0.0.0:8080"
PollInterval = "10s"